component6/WebContent/wsdl/Soapservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://model" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://model" xmlns:intf="http://model" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://model" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="findByid">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="findByidResponse">
    <complexType>
     <sequence>
      <element name="findByidReturn" type="impl:Empolyee"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Empolyee">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="salary" type="xsd:double"/>
    </sequence>
   </complexType>
   <element name="updateEmp">
    <complexType>
     <sequence>
      <element name="emp" type="impl:Empolyee"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateEmpResponse">
    <complexType>
     <sequence>
      <element name="updateEmpReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertEmp">
    <complexType>
     <sequence>
      <element name="emp" type="impl:Empolyee"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertEmpResponse">
    <complexType>
     <sequence>
      <element name="insertEmpReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeEmployee">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeEmployeeResponse">
    <complexType>
     <sequence>
      <element name="removeEmployeeReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="findAllEmpolyee">
    <complexType/>
   </element>
   <element name="findAllEmpolyeeResponse">
    <complexType>
     <sequence>
      <element name="findAllEmpolyeeReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="updateEmpResponse">

      <wsdl:part element="impl:updateEmpResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findAllEmpolyeeResponse">

      <wsdl:part element="impl:findAllEmpolyeeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findByidResponse">

      <wsdl:part element="impl:findByidResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertEmpRequest">

      <wsdl:part element="impl:insertEmp" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findAllEmpolyeeRequest">

      <wsdl:part element="impl:findAllEmpolyee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findByidRequest">

      <wsdl:part element="impl:findByid" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateEmpRequest">

      <wsdl:part element="impl:updateEmp" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeEmployeeResponse">

      <wsdl:part element="impl:removeEmployeeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertEmpResponse">

      <wsdl:part element="impl:insertEmpResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeEmployeeRequest">

      <wsdl:part element="impl:removeEmployee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Soapservice">

      <wsdl:operation name="findByid">

         <wsdl:input message="impl:findByidRequest" name="findByidRequest">

       </wsdl:input>

         <wsdl:output message="impl:findByidResponse" name="findByidResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateEmp">

         <wsdl:input message="impl:updateEmpRequest" name="updateEmpRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateEmpResponse" name="updateEmpResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insertEmp">

         <wsdl:input message="impl:insertEmpRequest" name="insertEmpRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertEmpResponse" name="insertEmpResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeEmployee">

         <wsdl:input message="impl:removeEmployeeRequest" name="removeEmployeeRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeEmployeeResponse" name="removeEmployeeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findAllEmpolyee">

         <wsdl:input message="impl:findAllEmpolyeeRequest" name="findAllEmpolyeeRequest">

       </wsdl:input>

         <wsdl:output message="impl:findAllEmpolyeeResponse" name="findAllEmpolyeeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SoapserviceSoapBinding" type="impl:Soapservice">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="findByid">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findByidRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findByidResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateEmp">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateEmpRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateEmpResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insertEmp">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertEmpRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertEmpResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeEmployee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeEmployeeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeEmployeeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findAllEmpolyee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findAllEmpolyeeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findAllEmpolyeeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SoapserviceService">

      <wsdl:port binding="impl:SoapserviceSoapBinding" name="Soapservice">

         <wsdlsoap:address location="http://localhost:8080/Component/services/Soapservice"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
